In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
import os

In [2]:
turnstile_data= pd.read_csv("turnstile Septmeber.txt")

In [3]:
#turnstile_data.head()

In [4]:
#turnstile_data.shape

In [5]:
#data is imported for the week of September 7th.

In [6]:
#Observations. 
#date and time could be combined
#looking at this data. It seems like the date and time should be fixed along with the entries and exits. 
#It looks here that these numbers are way to big. So that means that this is not every person entering and exiting within a 4 hour time frame. 
#This could be due to the fact that within some stations there are two or more entrance sites, which means that it's more like a odometer. Where there is a reading for each one, but they don't add up properly. 
#When looking at the entries and exits there is a difference. But if you look at enteries invidulually, they change.
#So maybe it's best to make a function to change these from enteries and exits into the actual difference of each one.
#For example, between 1 and 2 at 59th street we see that there is a differnce of enteries by 20. This number would be easier to read later.

In [7]:
#turnstile_data['DATE'].dtypes #function date diff.

In [8]:
#turnstile_data['TIME'].dtypes #put into date time format. function date diff.

In [9]:
#first I want to chnage the columns to lowercase.

In [10]:
#cols = []
#for column in turnstile_data.columns:
    #cols.append(column.lower().replace(" ",''))
#turnstile_data.columns = cols

In [11]:
#turnstile_data.columns

In [12]:
#taking care of the entries and exits.

In [13]:
#turnstile_data['entries'].value_counts()

In [14]:
#turnstile_data['exits'].value_counts()

In [15]:
#turnstile_data['entries'].dtypes

In [16]:
#turnstile_data['exits'].dtypes

In [17]:
#turnstile_array = np.array(turnstile_data)

In [18]:
#turnstile_array

In [19]:
#turnstile_data['entries_hours'] = turnstile_data['entries'].shift(1)

In [20]:
#turnstile_data.columns
#turnstile_data.head()

In [21]:
#looking at the new df

In [22]:
#turnstile_data['exits_hours'] = turnstile_data['exits'].shift(1)

In [23]:
#turnstile_data['entries_per_4hour'] = turnstile_data['entries']-turnstile_data['entries_hours']
#turnstile_data.head()

In [24]:
#going to do the same for exits.

In [25]:
#turnstile_data['exits_per_4hour'] = turnstile_data['exits']-turnstile_data['exits_hours']
#turnstile_data.head()

In [26]:
#now that entries and exits have been fixed. Time to fill in the Nan's

In [27]:
#now I want to bring these two df together.

In [28]:
#turnstile_data.drop(["entries", 'exits', 'entries_hours', 'desc', 'exits_hours'], axis=1, inplace=True)

In [29]:
#turnstile_data.head()

In [30]:
#turnstile_data = turnstile_data.fillna(0)

In [31]:
# Now to work in the date and time.

In [32]:
# checking the dtypes again. 
#turnstile_data['date'].dtypes
#turnstile_data['time'].dtypes

#dtype is an object and we need to change it to a float

In [33]:
#turnstile_data['date'] = pd.to_datetime(turnstile_data['date'])

In [34]:
#turnstile_data['time'] =pd.to_datetime(turnstile_data['time'], format='%H:%M:%S')
#turnstile_data['time'] = turnstile_data['time'].dt.time

In [35]:
#turnstile_data.info()

In [36]:
#turnstile_data.head()

In [37]:
#date and time converted.

In [38]:
# checking for missing values

In [39]:
#turnstile_data.isnull().sum() #all seems okay here.

In [40]:
# creating a function for the cleaned data.

In [41]:
def turnstiledata_clean(df):

    cols = []
    for column in df.columns:
        cols.append(column.lower().replace(" ",''))
    df.columns = cols
    
    df['entries_hours'] = df['entries'].shift(1)
    df['entries_per_4hour'] = df['entries']-df['entries_hours']
    
    df['exits_hours'] = df['exits'].shift(1)
    df['exits_per_4hour'] = df['exits']-df['exits_hours']
   
    df.drop(["entries", 'exits', 'entries_hours', 'desc', 'exits_hours'], axis=1, inplace=True)
    
    df = df.fillna(0)

    df['date'] = pd.to_datetime(df['date'])
    df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S').dt.time

    return df

In [42]:
clean_data=turnstiledata_clean(turnstile_data)

In [43]:
os.listdir('./MTA Weekly Data 2019')

['March 2.txt',
 'June 1.txt',
 'November 23.txt',
 '.DS_Store',
 'August 24.txt',
 'September 14.txt',
 'September 28.txt',
 'May 11.txt',
 'September 7.txt',
 'November 30.txt',
 'August 31.txt',
 'June 15.txt',
 'June 29.txt',
 'January 19.txt',
 'November 2.txt',
 'April 27.txt',
 'February 16.txt',
 'March 23.txt',
 'January 26.txt',
 'February 2.txt',
 'October 26.txt',
 'December 21.txt',
 'July 6.txt',
 'July 13.txt',
 'March 30.txt',
 'October 19.txt',
 'April 20.txt',
 'November 9.txt',
 'July 20.txt',
 'January 12.txt',
 'June 22.txt',
 'February 23.txt',
 'August 3.txt',
 'April 13.txt',
 'March 16.txt',
 'July 27.txt',
 'May 4.txt',
 'October 12.txt',
 'December 14.txt',
 'December 28.txt',
 'December 7.txt',
 'February 9.txt',
 'January 5.txt',
 'October 5.txt',
 'June 8.txt',
 'August 17.txt',
 'November 16.txt',
 'March 9.txt',
 'September 21.txt',
 'May 18.txt',
 'April 6.txt',
 'May 25.txt',
 'August 10.txt']

In [44]:
complete_year = clean_data    
for file in os.listdir('./MTA Weekly Data 2019'):
    if file.endswith(".txt"):
        print(file)
        data = pd.read_csv('./MTA Weekly Data 2019/'+ file)
        data = turnstiledata_clean(data)
        print(data.shape)
        complete_year=pd.concat([complete_year,data], axis=0, ignore_index=True)

March 2.txt
(203189, 10)
June 1.txt
(203795, 10)
November 23.txt
(205532, 10)
August 24.txt
(205669, 10)
September 14.txt
(205585, 10)
September 28.txt
(205336, 10)
May 11.txt
(204088, 10)
September 7.txt
(204795, 10)
November 30.txt
(205544, 10)
August 31.txt
(205263, 10)
June 15.txt
(204934, 10)
June 29.txt
(205963, 10)
January 19.txt
(204727, 10)
November 2.txt
(206046, 10)
April 27.txt
(203857, 10)
February 16.txt
(204737, 10)
March 23.txt
(202722, 10)
January 26.txt
(201599, 10)
February 2.txt
(202912, 10)
October 26.txt
(205595, 10)
December 21.txt
(207605, 10)
July 6.txt
(209538, 10)
July 13.txt
(208797, 10)
March 30.txt
(204595, 10)
October 19.txt
(206819, 10)
April 20.txt
(202547, 10)
November 9.txt
(207616, 10)
July 20.txt
(209006, 10)
January 12.txt
(201090, 10)
June 22.txt
(207477, 10)
February 23.txt
(204055, 10)
August 3.txt
(206996, 10)
April 13.txt
(204711, 10)
March 16.txt
(201792, 10)
July 27.txt
(206530, 10)
May 4.txt
(206857, 10)
October 12.txt
(206859, 10)
December 14.txt
(205187, 10)
December 28.txt
(206707, 10)
December 7.txt
(205924, 10)
February 9.txt
(202735, 10)
January 5.txt
(201603, 10)
October 5.txt
(206603, 10)
June 8.txt
(205011, 10)
August 17.txt
(208566, 10)
November 16.txt
(204983, 10)
March 9.txt
(203987, 10)
September 21.txt
(204928, 10)
May 18.txt
(208681, 10)
April 6.txt
(202964, 10)
May 25.txt
(203363, 10)
August 10.txt
(205875, 10)

In [45]:
complete_year.shape

(10876690, 10)

In [46]:
complete_year.head(60)

,c/a,unit,scp,station,linename,division,date,time,entries_per_4hour,exits_per_4hour
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,00:00:00,0.0,0.0
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,04:00:00,16.0,7.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,08:00:00,20.0,27.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,12:00:00,115.0,86.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,16:00:00,179.0,50.0
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,20:00:00,270.0,36.0
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-01,00:00:00,166.0,28.0
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-01,04:00:00,17.0,4.0
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-01,08:00:00,17.0,17.0
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-01,12:00:00,95.0,53.0
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-01,16:00:00,208.0,37.0
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-01,20:00:00,214.0,38.0
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-02,00:00:00,101.0,12.0
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-02,04:00:00,9.0,4.0
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-02,08:00:00,14.0,29.0
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-02,12:00:00,69.0,53.0
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-02,16:00:00,187.0,50.0
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-02,20:00:00,193.0,29.0
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-03,00:00:00,102.0,16.0
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-03,04:00:00,6.0,3.0
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-03,08:00:00,51.0,83.0
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-03,12:00:00,150.0,92.0
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-03,16:00:00,277.0,76.0
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-03,20:00:00,637.0,91.0
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-04,00:00:00,154.0,24.0
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-04,04:00:00,11.0,5.0
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-04,08:00:00,42.0,95.0
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-04,12:00:00,168.0,203.0
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-04,16:00:00,276.0,80.0
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-04,20:00:00,666.0,93.0
30,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-05,00:00:00,179.0,36.0
31,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-05,04:00:00,10.0,10.0
32,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-05,08:00:00,31.0,100.0
33,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-05,12:00:00,149.0,237.0
34,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-05,16:00:00,290.0,55.0
35,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-05,20:00:00,694.0,67.0
36,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-06,00:00:00,180.0,29.0
37,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-06,04:00:00,16.0,6.0
38,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-06,08:00:00,45.0,92.0
39,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-06,12:00:00,166.0,218.0
40,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-06,16:00:00,310.0,66.0
41,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-06,20:00:00,589.0,63.0
42,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-08-31,00:00:00,-797992.0,-1000783.0
43,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-08-31,04:00:00,12.0,4.0
44,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-08-31,08:00:00,17.0,11.0
45,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-08-31,12:00:00,71.0,42.0
46,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-08-31,16:00:00,147.0,25.0
47,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-08-31,20:00:00,166.0,36.0
48,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-01,00:00:00,111.0,16.0
49,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-01,04:00:00,15.0,6.0
50,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-01,08:00:00,13.0,11.0
51,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-01,12:00:00,105.0,24.0
52,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-01,16:00:00,200.0,25.0
53,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-01,20:00:00,210.0,27.0
54,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-02,00:00:00,118.0,9.0
55,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-02,04:00:00,8.0,4.0
56,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-02,08:00:00,14.0,10.0
57,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-02,12:00:00,72.0,33.0
58,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-02,16:00:00,167.0,32.0
59,A002,R051,02-00-01,59 ST,NQR456W,BMT,2019-09-02,20:00:00,183.0,18.0

In [47]:
complete_year.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
10876685    False
10876686    False
10876687    False
10876688    False
10876689    False
Length: 10876690, dtype: bool

In [48]:
complete_year.duplicated().sum()

204796

In [49]:
complete_year.drop_duplicates(subset=None, keep='first', inplace=False) #dropping duplicates

,c/a,unit,scp,station,linename,division,date,time,entries_per_4hour,exits_per_4hour
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,00:00:00,0.0,0.0
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,04:00:00,16.0,7.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,08:00:00,20.0,27.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,12:00:00,115.0,86.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,16:00:00,179.0,50.0
...,...,...,...,...,...,...,...,...,...,...
10876685,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-08-09,05:00:00,0.0,0.0
10876686,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-08-09,09:00:00,0.0,0.0
10876687,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-08-09,13:00:00,0.0,0.0
10876688,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-08-09,17:00:00,0.0,0.0
10876689,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-08-09,21:00:00,0.0,0.0

In [50]:
complete_year = complete_year.drop_duplicates(subset=None, keep='first', inplace=False) #actually dropping the duplicates.

In [51]:
complete_year.shape #checking the shape.

(10671894, 10)

In [52]:
complete_year.duplicated() #checking the duplicates

0           False
1           False
2           False
3           False
4           False
            ...
10876685    False
10876686    False
10876687    False
10876688    False
10876689    False
Length: 10671894, dtype: bool

In [53]:
complete_year.duplicated().sum() #double checking the duplicates

0

In [54]:
def make_string(row):
    return row['date'].strftime('%Y-%m-%d')+row['time'].strftime(' %H:%M:%S')
#making the date and time into one column.

In [55]:
complete_year['date_time'] = complete_year.apply(make_string, axis=1)

In [56]:
complete_year.head()

,c/a,unit,scp,station,linename,division,date,time,entries_per_4hour,exits_per_4hour,date_time
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,00:00:00,0.0,0.0,2019-08-31 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,04:00:00,16.0,7.0,2019-08-31 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,08:00:00,20.0,27.0,2019-08-31 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,12:00:00,115.0,86.0,2019-08-31 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,16:00:00,179.0,50.0,2019-08-31 16:00:00

In [57]:
complete_year.drop(['date','time'], axis=1, inplace=True)

In [58]:
complete_year.head()

,c/a,unit,scp,station,linename,division,entries_per_4hour,exits_per_4hour,date_time
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,0.0,0.0,2019-08-31 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,16.0,7.0,2019-08-31 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,20.0,27.0,2019-08-31 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,115.0,86.0,2019-08-31 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,179.0,50.0,2019-08-31 16:00:00

In [59]:
complete_year = complete_year[['c/a', 'unit', 'scp','station','linename','division','date_time','entries_per_4hour','exits_per_4hour']]

In [60]:
complete_year.head() #rearranged the columns.

,c/a,unit,scp,station,linename,division,date_time,entries_per_4hour,exits_per_4hour
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31 00:00:00,0.0,0.0
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31 04:00:00,16.0,7.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31 08:00:00,20.0,27.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31 12:00:00,115.0,86.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31 16:00:00,179.0,50.0

In [61]:
complete_year = complete_year.sort_values(by=['station','linename','c/a','unit','scp','date_time'])

In [ ]:
complete_year.head(60)

In [63]:
complete_year[complete_year.entries_per_4hour > 10000]

,c/a,unit,scp,station,linename,division,date_time,entries_per_4hour,exits_per_4hour
8650616,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 03:00:00,9758676.0,8506882.0
5983908,H007,R248,00-00-00,1 AV,L,BMT,2019-01-05 03:00:00,9770713.0,8519517.0
2695413,H007,R248,00-00-00,1 AV,L,BMT,2019-01-12 03:00:00,9787805.0,8534247.0
3716878,H007,R248,00-00-00,1 AV,L,BMT,2019-01-19 03:00:00,9804974.0,8550619.0
3918558,H007,R248,00-00-00,1 AV,L,BMT,2019-01-26 03:00:00,9820072.0,8562633.0
...,...,...,...,...,...,...,...,...,...
2023272,R419,R326,00-03-00,ZEREGA AV,6,IRT,2019-11-23 00:00:00,851592.0,185661.0
8392670,R419,R326,00-03-00,ZEREGA AV,6,IRT,2019-11-30 00:00:00,853296.0,183990.0
7980016,R419,R326,00-03-00,ZEREGA AV,6,IRT,2019-12-07 00:00:00,855972.0,183128.0
4478837,R419,R326,00-03-00,ZEREGA AV,6,IRT,2019-12-14 00:00:00,858433.0,181746.0
8186227,R419,R326,00-03-00,ZEREGA AV,6,IRT,2019-12-21 00:00:00,861850.0,181288.0

In [69]:
dropped_rows = complete_year[(complete_year['entries_per_4hour'] < 10000)&(complete_year['entries_per_4hour'] > 0)&(complete_year['exits_per_4hour'] < 10000)&(complete_year['exits_per_4hour'] > 0)].copy()

In [71]:
dropped_rows.head()

,c/a,unit,scp,station,linename,division,date_time,entries_per_4hour,exits_per_4hour
8650617,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 07:00:00,26.0,140.0
8650618,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 11:00:00,279.0,546.0
8650619,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 15:00:00,565.0,892.0
8650620,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 19:00:00,615.0,889.0
8650621,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 23:00:00,444.0,593.0

In [72]:
dropped_rows[dropped_rows.exits_per_4hour > 10000]

Empty DataFrame
Columns: [c/a, unit, scp, station, linename, division, date_time, entries_per_4hour, exits_per_4hour]
Index: []

In [73]:
dropped_rows.to_csv('complete_year.csv')

In [ ]:
# Hype Test

In [3]:
complete_data = pd.read_csv("complete_year.csv")

/Users/elenigazotis/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
complete_data

,Unnamed: 0,c/a,unit,scp,station,linename,division,date_time,entries_per_4hour,exits_per_4hour
0,8650617,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 07:00:00,26.0,140.0
1,8650618,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 11:00:00,279.0,546.0
2,8650619,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 15:00:00,565.0,892.0
3,8650620,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 19:00:00,615.0,889.0
4,8650621,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 23:00:00,444.0,593.0
...,...,...,...,...,...,...,...,...,...,...
8483311,8186306,R419,R326,00-03-01,ZEREGA AV,6,IRT,2019-12-27 04:00:00,16.0,5.0
8483312,8186307,R419,R326,00-03-01,ZEREGA AV,6,IRT,2019-12-27 08:00:00,270.0,11.0
8483313,8186308,R419,R326,00-03-01,ZEREGA AV,6,IRT,2019-12-27 12:00:00,265.0,29.0
8483314,8186309,R419,R326,00-03-01,ZEREGA AV,6,IRT,2019-12-27 16:00:00,230.0,40.0
8483315,8186310,R419,R326,00-03-01,ZEREGA AV,6,IRT,2019-12-27 20:00:00,203.0,56.0

In [12]:
complete_data2 = complete_data.drop(['Unnamed: 0'], axis=1) #dropping unnamed row.

In [13]:
complete_data2

,c/a,unit,scp,station,linename,division,date_time,entries_per_4hour,exits_per_4hour
0,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 07:00:00,26.0,140.0
1,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 11:00:00,279.0,546.0
2,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 15:00:00,565.0,892.0
3,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 19:00:00,615.0,889.0
4,H007,R248,00-00-00,1 AV,L,BMT,2018-12-29 23:00:00,444.0,593.0
...,...,...,...,...,...,...,...,...,...
8483311,R419,R326,00-03-01,ZEREGA AV,6,IRT,2019-12-27 04:00:00,16.0,5.0
8483312,R419,R326,00-03-01,ZEREGA AV,6,IRT,2019-12-27 08:00:00,270.0,11.0
8483313,R419,R326,00-03-01,ZEREGA AV,6,IRT,2019-12-27 12:00:00,265.0,29.0
8483314,R419,R326,00-03-01,ZEREGA AV,6,IRT,2019-12-27 16:00:00,230.0,40.0
8483315,R419,R326,00-03-01,ZEREGA AV,6,IRT,2019-12-27 20:00:00,203.0,56.0

In [ ]:
# are there more than 500 exites per hour? 

# H0 = more than 500 exits per hour. 
#H1 = there are not more than 500 exits per hour.

In [14]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(complete_data2['exits_per_4hour'], 30)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   1539.8790994725248
pvalue for the two-tailed test is  0.0

In [ ]:
#this is really strange. There is no pvalue? Is that possible? And the stat is super high...